In [2]:
# PANDAS - Working with Tabular Data

In [10]:
import numpy as np
import pandas as pd

In [11]:
# DATASETS

pokemons = {
    "Pokemon_Height" : np.random.randint(1,100,5),
    "Pokemon_Weight" : np.random.randint(50,150,5),
    "Pokemon_Power" : np.random.randint(200,250,5)
}

In [12]:
pokemons

{'Pokemon_Height': array([ 7,  8, 14, 73,  2]),
 'Pokemon_Weight': array([143,  86, 127,  72, 108]),
 'Pokemon_Power': array([211, 224, 205, 224, 208])}

In [25]:
df = pd.DataFrame(pokemons)
print(df)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0               7             143            211
1               8              86            224
2              14             127            205
3              73              72            224
4               2             108            208

In [26]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0               7             143            211
1               8              86            224
2              14             127            205
3              73              72            224
4               2             108            208

In [27]:
df.head(n=3)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0               7             143            211
1               8              86            224
2              14             127            205

In [28]:
print(df.columns)

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [32]:
# Create a CSV(Comma Seperated File) File

df.to_csv('pokemons_data.csv', index=False)

In [33]:
# Read a csv file

df = pd.read_csv('pokemons_data.csv')

In [34]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0               7             143            211
1               8              86            224
2              14             127            205
3              73              72            224
4               2             108            208

In [36]:
df.shape

(5, 3)